.theme {
  display: grid;

  grid-template-areas:
    '. numbers'
    'title switcher';
  column-gap: 1rem;
  align-items: center;

  &_title {
    grid-area: title;
  }

  &_ids {
    grid-area: numbers;

    --justify-: space-around;
  }

  &_switcher {
    grid-area: switcher;

    position: relative;

    min-width: 70px;
    min-height: 25px;
    padding-inline: 5px;
    border-radius: 20px;

    &::after {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      border-radius: 50%;
    }
  }

  &_switch {
    background-color: transparent;
    border: none;

    color: transparent;
    font-size: 0.5rem;
  }
}

.calc-app {
  &_keyboard {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: var(--gap-, 1rem);

    :nth-last-child(2) {
      grid-column: 1 / span 2;
    }

    :last-child {
      grid-column: 3 / span 2;
    }
  }
}

#display {
  width: 100%;
  margin: 1.5rem 0 1rem;
  padding: 0.5rem;

  text-align: right;
  line-height: 1;
}

footer {
  margin-top: 2rem;
}
