// ### Theme 3

// #### Backgrounds

$Very-dark-violet-100: hsl(268, 75%, 9%); // (main background)
$Very-dark-violet-200: hsl(
  268,
  71%,
  12%
); // (toggle background, keypad background, screen background)

// #### Keys

$Dark-violet: hsl(281, 89%, 26%); // (key background)
$Vivid-magenta: hsl(285, 91%, 52%); // (key shadow)

$Pure-cyan: hsl(176, 100%, 44%); // (key background, toggle)
$Soft-cyan: hsl(177, 92%, 70%); // (key shadow)

$Very-dark-violet-300: hsl(268, 47%, 21%); // (key background)
$Dark-magenta: hsl(290, 70%, 36%); // (key shadow)

// #### Text

$Light-yellow: hsl(52, 100%, 62%);
$Very-dark-blue: hsl(198, 20%, 13%);
$White: hsl(0, 0, 100%); // (text)
