@use 'dark-clr' as *;

@media (prefers-color-scheme: dark) {
  body {
    background-color: $Very-dark-desaturated-blue-300;

    color: $White;
  }

  .theme {
    &_switcher {
      background-color: $Very-dark-desaturated-blue-200;

      &::after {
        background-color: $Red;
      }
    }
  }

  #display {
    color: $White;

    background-color: $Very-dark-desaturated-blue-100;
  }

  .calc-app {
    &_keyboard {
      background-color: $Very-dark-desaturated-blue-200;

      input[type='button'] {
        background-color: $Light-grayish-orange;
        color: $Very-dark-grayish-blue;

        box-shadow: 0 4px 0 $Grayish-orange;

        &.--del-key {
          background-color: $Desaturated-dark-blue-200;
          box-shadow: 0 4px 0 $Desaturated-dark-blue-100;
        }
        &.--go-key {
          background-color: $Red;
          box-shadow: 0 4px 0 $Dark-red;
        }
        &.--go-key,
        &.--del-key {
          color: $White;
        }
      }
    }
  }
}
