// ### Theme 2

// #### Backgrounds

$Light-gray: hsl(0, 0%, 90%); // (main background)
$Grayish-red: hsl(0, 5%, 81%); // (toggle background, keypad background)
$Very-light-gray: hsl(0, 0%, 93%); // (screen background)

// #### Keys

$Dark-moderate-cyan: hsl(185, 42%, 37%); //  (key background)
$Very-dark-cyan: hsl(185, 58%, 25%); // (key shadow)

$Orange: hsl(25, 98%, 40%); // (key background, toggle)
$Dark-orange: hsl(25, 99%, 27%); // (key shadow)

$Light-grayish-yellow: hsl(45, 7%, 89%); // (key background)
$Dark-grayish-orange: hsl(35, 11%, 61%); // (key shadow)

// #### Text

$Very-dark-grayish-yellow: hsl(60, 10%, 19%);
$White: hsl(0, 0, 100%); // (text)
