@use 'colors-3' as *;

.theme-1 {
  background-color: $Very-dark-violet-100;

  color: $Light-yellow;

  .theme {
    &_switcher {
      background-color: $Very-dark-violet-200;

      &::after {
        background-color: $Pure-cyan;
      }
    }
  }

  #display {
    color: inherit;

    background-color: $Very-dark-violet-200;
  }

  .calc-app {
    &_keyboard {
      background-color: $Very-dark-violet-200;

      input[type='button'] {
        background-color: $Very-dark-violet-300;
        color: $Light-yellow;

        box-shadow: 0 4px 0 $Dark-magenta;

        &.--del-key {
          background-color: $Dark-violet;
          box-shadow: 0 4px 0 $Vivid-magenta;
          color: $White;
        }
        &.--go-key {
          background-color: $Pure-cyan;
          box-shadow: 0 4px 0 $Soft-cyan;
          color: $Very-dark-blue;
        }
      }
    }
  }
}
